# Video Files
*.3gp
*.avi
*.flv
*.m4v
*.mkv
*.mp4
*.MTS
*.wmv
# Miscellaneous
*.bat
*.code-workspace
*.exe
*.txt
# Folders
__pycache__/
venv/
.vscode/
# Ignore any output folders (e.g. "(video.mp4)") produced by VQM
*)