# Video Files
*.3gp
*.avi
*.flv
*.m4v
*.mkv
*.mp4
*.MTS
*.webm
*.wmv
# Miscellaneous
*.bat
*.code-workspace
.DS_Store
*.exe
*.json
*.log
*.png
*.txt
# Folders
*)
__pycache__/
venv/
.vscode/

!ForBiggerFun.mp4
!example_graphs/*