# Video Files
*.3gp
*.avi
*.flv
*.m4v
*.mkv
*.mp4
*.MTS
*.webm
*.wmv
# Miscellaneous
*.bat
*.code-workspace
.DS_Store
*.exe
*.log
*.txt
# Folders
*)
__pycache__/
venv/
.vscode/
# Don't ignore files in the test_video folder
!example_videos/*